.layout__header {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el logo y el título */
}

.layout__logo img {
  height: 80px;
}

.layout__title {
  font-size: 24pt;
  margin: 0;
  padding: 20px;
}
