/* src/styles/Reservation.css */
h3 {
    margin-bottom: 15px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select,
  input {
    padding: 5px;
    margin: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  